<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN">
    <Appenders>
        <Console name="console" target="SYSTEM_OUT">
            <PatternLayout pattern="%d %p %t [%c{4}] %m%n"/>
        </Console>

        <RollingFile name="file" fileName="coreservices.log"
                     filePattern="coreservices.log.%d{yyyy-MM-dd}">
            <PatternLayout pattern="%d %p %t [%c{4}] %m%n"/>
            <Policies>
                <TimeBasedTriggeringPolicy/>
            </Policies>
        </RollingFile>
    </Appenders>

    <Loggers>
        <Logger name="com.korwe.thecore" level="debug" additivity="false">
            <AppenderRef ref="file"/>
        </Logger>

        <Root level="error">
            <AppenderRef ref="file"/>
        </Root>
    </Loggers>
</Configuration>
